[project]
name = "journal-nocodb"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "requests>=2.32.5",
    "teable-client>=1.1.2",
    "python-dotenv>=1.0.1",
]
